syntax: glob

*.cache
*.db
*.ipch
*.opendb
*.orig
*.pdb
*.sdf
*.suo
*.user
*.metagen
*.opensdf
*- Copy.*
*.lnk
*.bak
*.pfx
*.pubxml
*.PublishSettings
*.exp
*.iobj
*.ipdb
*.dev.json
*.deps.json
*.runtimeconfig.json
launchSettings.json

bin/
obj/
ipch/
packages/
csx/
x64/

/.vs
build/.vs/
build/.idea/
build/versions/
build/VERSION_STORAGE
build/deployment/logs/
build/PrecompiledWeb/

data/config/
data/camera/
data/*.key*
data/*.lic

src/include/CvLib/
src/include/ImageProcLib/
src/lib/CvLib.lib
src/lib/ImageProcLib.lib
src/OCSApp/_DebugAppData/

var/logs/
var/versions/
var/debug/
var/output/
